<div class="container">
  <div class="jumbotron">
    <div class="text-center">
      <h1 class="display-3">Bookstocks</h1>
        <p class="lead">あなたのお気に入りの小説の一節を紹介しましょう<br>小説を、その時の心情などから直感的に検索出来ます</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="text-center col-sm-6 offset-sm-3">
    <a class="btn btn-outline-primary btn-lg" href="/signup">会員登録</a>
  </div>
</div>

