<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
  <div class="container">
    <div class="jumbotron">
      <div class="text-center">
        <h1 class="display-3">Bookstocks</h1>
          <p class="lead">あなたのお気に入りの小説の一節を紹介しましょう<br>小説を、あなたの現在の心情などから直感的に検索できます</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="text-center col-sm-6 offset-sm-3">
      <a class="btn btn-outline-primary btn-lg" href="/signup">会員登録</a>
    </div>
  </div>

  <div class="row">
    <div class="text-center col-sm-6 offset-sm-3 mt-3">
      <a class="btn btn-outline-primary btn-lg" href="/login">ログイン</a>
    </div>
  </div>

  <div class="row">
    <div class="text-center col-sm-6 offset-sm-3 mt-3">
      <a class="btn btn-outline-primary btn-lg" href="/posts">ログインせず利用</a>
    </div>
  </div>
<% end %>

  