<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
  <div class="container">
    <div class="jumbotron">
      <div class="text-center">
        <h1 class="display-1">BookStocks</h1>
          <p class="h3">コトバに直せない想いを、カタチにしよう。</p>
          <p>とんでもなく愛おしいと思えるものが、この世界にはたくさん転がっています。<br>残念ながら、僕らはそれに出会ったとき、得てして上手く伝えることができません。言葉は時として無力です。<br>だからこそ、僕らの手元には芸術があります。芸術は、言葉に直せなかった想いの残滓であり、結晶とも言えるでしょう。</p>
          <p class="lead">あなたが心を動かされた小説の一節を紹介しましょう。<br>その一節の風景を写真で表現しましょう。</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="text-center col-sm-6 offset-sm-3">
      <a class="btn btn-primary btn-lg" href="/signup">会員登録</a>
    </div>
  </div>

  <div class="row">
    <div class="text-center col-sm-6 offset-sm-3 mt-3">
      <a class="btn btn-primary btn-lg" href="/login">ログイン</a>
    </div>
  </div>

  <div class="row">
    <div class="text-center col-sm-6 offset-sm-3 mt-3">
      <a class="btn btn-primary btn-lg" href="/posts">ログインせず利用</a>
    </div>
  </div>
<% end %>

  