.posts {
    background-image: url("jumbotron.jpg")
}

.posts h1 { 
    width: 380px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba( 255, 255, 255, 0.40);
    border-left: 10px solid #000080;
    border-right: 10px solid #000080;
    box-shadow: 7px 7px 5px #000000;
    border-radius: 5px;
}

.posts .card {
    border-radius: 20% 0 30% 0;
    border: 1px outset #000000;
}

.posts .card-img-top {
    padding: 10px;
    border-radius: 30% 0 30% 0;
}

.posts .card-title {
    font-family: inherit;
    font-weight: bold;
    font-style: italic;
}

.posts .list-group-item {
    border-radius: 5px 5px 5px 5px;
    border: 1px outset #000000;
}

.posts .lead { 
    font-style: italic;
}

.posts .fav_button {
    display: inline-block;
    margin: 0 2px;
}

.posts .delete_button {
    display: inline-block;
    margin: 0 2px;
}

.posts .edit_button {
    display: inline-block;
    margin: 0 2px;
}