<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">user-index</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <th scope="row"><%= user.id %></th>
            <td><%= user.name %></td>
            <td><%= link_to "user詳細", user, class: "btn btn-primary btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  