
<% posts.each do |post| %>
  <ul class="list-group mt-3">
    <li class="list-group-item index media mb-3 text-center">
      <div>
        <blockquote>
          <q class="lead"><%= post.introduce_content %></q>
        </blockquote>
      </div>
      <div>
        <p><%= post.author_name %> 『<%= post.novel_title %>』</p>
      </div>
      <%= render "layouts/show_button", post: post %>
    </li>
  </ul>
<% end %>
